.Footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Footer__title {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--text-600);
}

@media (min-width: 600px) {
  .Footer__title {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--text-600);
  }
}
